body {
  min-width: 320px;
  margin: 0; 
  font-family: verdana; font-size: 9pt; 
}

/* *** (Row 1) black bar (top) ***/
#row1 {
  height: 16px; 
  background-color: black; 
  width: 100%;
}
#row1 A { 
  color: silver; 
  text-decoration: none; 
}
.col1 {
  box-sizing: border-box;
  display: inline-block;
}
.col2 {
  box-sizing: border-box;
  display: inline-block;
  padding-right: 6px;
  text-align: right;
}
#row1 .col1 {
  padding-left: 6px;
  height: 16px; 
}
#row1 .col2 { 
  height: 16px; 
  color: gray;
}

/* *** (Row 2) builder express bar (top) ***/
#row2 {
  min-width: 320px;
  background-color: #0000FF;
  line-height: 30px;
}

#row2 .col1 {
  width: 50%;
  font-family: serif;
  font-size: 18pt; 
}

#row2 .col1 .heading {
  position: absolute;
  display: inline-block; 
  background-color: white;
  padding-left: 6px; 
  padding-right: 6px; 
  width: 155px; 
  text-shadow: 2px 2px 3px blue; 
}
#row2 .col1 .blueslidein {
  position: absolute;
  left: 167px;
  display: inline-block; 
  width: 50px;
  background-color: white;
  background: -webkit-linear-gradient(left, white , blue); 
  background: -o-linear-gradient(right, white, blue);
  background: -moz-linear-gradient(right, white, blue);
  background: linear-gradient(to right, white, blue);
}

#row2 .col2 {
  position: relative;
  z-index: 2;
  width: 50%;
  min-width: 140px;
  vertical-align: top;
}

.button {
  border:1px solid #000000;
  cursor:pointer;
  display: inline-block;
  text-align: center;
  text-decoration:none;
}

.button_round {
  border-radius:8px;
}

#row2 .col2 .button_round {
  vertical-align: middle;
  line-height: 20px;
  margin-bottom: 3px;
  width: 59px;
}

.button_yellow {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffff00), color-stop(1, #cdcd00));
  background:-moz-linear-gradient(top, #ffff00 5%, #cdcd00 100%);
  background:-webkit-linear-gradient(top, #ffff00 5%, #cdcd00 100%);
  background:-o-linear-gradient(top, #ffff00 5%, #cdcd00 100%);
  background:-ms-linear-gradient(top, #ffff00 5%, #cdcd00 100%);
  background:linear-gradient(to bottom, #ffff00 5%, #cdcd00 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff00', endColorstr='#cdcd00',GradientType=0);
  background-color:#ffff00;
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
  text-shadow:0px 1px 0px #cdcd00;
  color:#000000;
}

.button_green {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #00ff00), color-stop(1, #00cc00));
  background:-moz-linear-gradient(top, #00ff00 5%, #00cc00 100%);
  background:-webkit-linear-gradient(top, #00ff00 5%, #00cc00 100%);
  background:-o-linear-gradient(top, #00ff00 5%, #00cc00 100%);
  background:-ms-linear-gradient(top, #00ff00 5%, #00cc00 100%);
  background:linear-gradient(to bottom, #00ff00 5%, #00cc00 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ff00', endColorstr='#00cc00',GradientType=0);
  background-color:#00ff00;
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
  text-shadow:0px 1px 0px #00cc00;
  color:#000000;
}


/* *** (Row 3) slider bar (top) ***/
#row3 { 
  height: 15px; 
  background-color: #000080; 
}

#row3 .col1 {
  width: 70%;
  min-width: 350px;
}

#row3 .col2 {
  width: 30%;
  vertical-align: top;
  padding-top: 1px;
  color: #808080;
  font-size: 9px;
}

.button_slider {
  border-radius:10px;
  height: 17px;
  padding-top: 1px;
  position: relative;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
}

#button_pages { 
  left: -10px; 
  width: 110px; 
  z-index: 3; 
}
#button_settings { 
  left: -25px; 
  width: 115px; 
  z-index: 2; 
}
#button_edit { 
  left: -40px; 
  width: 115px; 
  z-index: 1; 
}

.button_grey {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #97C9E6), color-stop(1, #A6CAF0));
  background:-moz-linear-gradient(top, #97C9E6 5%, #A6CAF0 100%);
  background:-webkit-linear-gradient(top, #97C9E6 5%, #A6CAF0 100%);
  background:-o-linear-gradient(top, #97C9E6 5%, #A6CAF0 100%);
  background:-ms-linear-gradient(top, #97C9E6 5%, #A6CAF0 100%);
  background:linear-gradient(to bottom, #97C9E6 5%, #A6CAF0 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#97C9E6', endColorstr='#A6CAF0',GradientType=0);
  background-color:#97C9E6;
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
  text-shadow:0px 1px 0px #A6CAF0;
  color:gray;
  cursor:default;
}

.button_tan {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #FFFF99), color-stop(1, #E7E77F));
  background:-moz-linear-gradient(top, #FFFF99 5%, #E7E77F 100%);
  background:-webkit-linear-gradient(top, #FFFF99 5%, #E7E77F 100%);
  background:-o-linear-gradient(top, #FFFF99 5%, #E7E77F 100%);
  background:-ms-linear-gradient(top, #FFFF99 5%, #E7E77F 100%);
  background:linear-gradient(to bottom, #FFFF99 5%, #E7E77F 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFF99', endColorstr='#E7E77F',GradientType=0);
  background-color:#FFFF99;
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
  text-shadow:0px 1px 0px #E7E77F;
  color:#000000;
}

.help { 
  background-color: yellow; 
  color: navy; 
}
 
/* *** (Row 4) space bar (top) ***/
#row4 { 
  height: 11px; 
  z-index: -1; 
}
#row4 .col2 { 
  color: gray; 
}

/* *** (Row 5) help bar (top) ***/
#row5 {
  min-width: 224px; 
  border-bottom: 3px solid #cdcd00; 
  height: 18px;
}
#row5 .col1 {
  width: 1%;
  display: inline-block;
}

#row5 .col2 {
  width: 99%;
  display: inline-block; 
  margin-bottom: 3px;
  min-width: 220px; 
}

/* *** (Row 6) content bar (middle) ***/
#row6 { 
  min-width: 320px;
  margin-bottom: 25px; 
}
#row6 .col1 {
  width: 61.8034%;
  padding-left: 8px;
  padding-top: 12px;
}
#row6 .col2 {
  padding-top: 12px;
  vertical-align: top; 
  top: 6px; 
  width: 38.1966%;
}

/* *** (Row 7) help bar (bottom)  ***/
#row7 { 
  border-bottom: 3px solid #cdcd00; 
  border-top: 3px solid #cdcd00; 
  min-width: 320px; 
}
#row7 .col1 { 
  display: inline-block; 
  padding-left: 6px; 
  vertical-align: top; 
  width: 61.8034%;
}
#row7 .col2 { 
  display: inline-block; 
  text-align: right; 
  width: 38.1966%;
}

#row7 .col2 .text { 
  position: relative; 
  top: -49px; 
}

#bird {
  position: relative;
  top: -50px;
}


/* *** Pages *** */
#page_create { 
  display: inline-block;
  border: 1px solid #00cc00; 
  margin-top: 16px; 
  width: 183px; 
}
#page_create input {
  appearance: none;
  border: none;
  border-radius:0px;
  font-family: verdana; 
  font-size: 11px; 
  padding: 2px;
  width: 179px; 
  -moz-appearance: none;
  -webkit-appearance: none;
}
#page_create .space {
  background-color: #00cc00;
  border-top: 1px solid #00cc00;
  display:inline-block; 
  line-height:16px;
  vertical-align: top;
  width: 71px;
}
#page_create .redslideout {
  background: -webkit-linear-gradient(left, #00cc00, white); 
  background: -o-linear-gradient(right, #00cc00, white);
  background: -moz-linear-gradient(right, #00cc00, white);
  background: linear-gradient(to right, #00cc00, white);
  border-top: 1px solid #00cc00;
  display:inline-block; 
  line-height: 16px;
  vertical-align: top;
  width: 40px;
}
#page_create .button {
  background-color: white; 
  border-top: 1px solid #00cc00;
  cursor: pointer; 
  font-size: 100%;
  height: 16px;
  padding: 0px 0px;
  width: 72px;
}
input::-moz-focus-inner { 
  border: 0; 
  margin-top:-2px; 
  margin-bottom: -2px; 
  padding: 0; 
}




ol.sortable, ol.sortable ol { 
  cursor: move;
}

ol#pages, ol#pages ol { 
  list-style-type: none;
}
ol#pages {
  margin-top: 4px; 
  padding-left: 0px;
}
ol#pages ol {
  padding-left: 24px; 
}

ol#pages span.title {
  font-size: 11pt;
  line-height: 24px;
}

ol#pages span.title a {
  color:black;
}
.placeholder {
  margin: -1px;
  background: yellow;
  border: 1px dashed #000080;
}
.inactive {
  color: gray;
}
ol#pages span.title a:hover {
  color:#00cc00;
}
ol#pages li.ui-sortable-helper span.title a:hover {
  color:black;
}
ol#pages span.status { 
  color:#000080; 
}






/* *** Edit *** */
#content {
  width: 100%;
}
#edit_create {
  width: 100%;
}
#edit_create #title {
  width: 100%;
}

@media all and (max-width: 570px) { #row3 .col2 {display:none;} }
